name: Update Discord Classnames
on:
  schedule:
    - cron: '0 0 * * *' # Der Bot schaut jeden Tag um Mitternacht nach
  workflow_dispatch: # Erlaubt dir, es auch manuell zu starten

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Update Script
        uses: vanyle/discord-update-classnames@master
        with:
          files: 'cyberpunk.css' # Hier sagt er dem Bot, welche Datei er fixen soll
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Discord Update erkannt - Klassen automatisch repariert"
