name: Update Discord Classnames
on:
  schedule:
    - cron: '0 0 * * *' # Startet jeden Tag um Mitternacht
  workflow_dispatch: # Erlaubt dir den manuellen Start

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Run Update Script
        uses: vanyle/discord-update-classnames@master
        with:
          # Hier stehen alle BEIDE Dateien, getrennt durch ein Komma
          files: 'cp77.css, cp77_2.css'
          
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Discord Update erkannt - Beide Skins repariert"
